<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginScreen2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>102DEBDE1EA6979400F1A2D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>102DEBF21EA6979500F1A2D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>102DEBFD1EA6979500F1A2D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
